.App-header {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
  }

h1#welcome-header{
    text-align: center;
}

.heading-cart-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
  }

  .cartSize{
    padding: 15px;
  }

  .clear-cart-wrapper{
    margin-right: 20px;
  }
  
  .cart-container {
    display: flex;
    align-items: center;
  }
  
  #welcome-header {
    flex-grow: 1;
    text-align: center;
    margin: 0;
  }
  
  .search-container {
    margin-left: auto;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
