body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  flex: 1;
  gap: 16px;
}

.clothing-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: 250px;
  box-sizing: border-box;
}

.clothing-item img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/* NAVIGATION */

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.nav-item {
  margin-right: 10px;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.page-container {
  display: flex;
  flex-direction: row-reverse; 
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px;
  gap: 16px;
}

.filter-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.filter-container label {
  display: block;
  margin-left: 5px;
}

.pagination {
  margin-top: auto;
  align-items: center;
  text-align: center;
  display: flexbox;
}